.event-container{
    width: 100%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}
.event-container> .event-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.event-container> .event-heading> img{
    width: 100px;
}
.event-container> .event-heading> p{
    font-size: 22px;
    border-radius: 10px;
    padding: 4px 10px;
}
.event-container> .event-heading> p:hover{
    background-color: gray;
    color: white;
    cursor: pointer;
}
.event-container> .event-inner-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 40px 80px;
}