.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}
.footer-container> .links{
    display: flex;
    gap: 40px;
}
.footer-container> .links> a{
    font-size: 23px;
    padding: 0px;
    color: black;
    padding: 0px 5px;
    border-radius: 5px;
}
.footer-container> .links> a:hover{
    background-color: grey;
    color: white;
}
.footer-container> .links> p{
    font-size: 19px;
}