.member-container{
    display: flex;
    /* border: 2px solid black; */
    width: 90%;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    padding: 0px;
    flex-direction: column;
}
.member-container> .member-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.member-container> .member-heading> p{
    color: black;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 1px 1px 3px white;
    margin-bottom: 0px;
    padding: 0px 10px;
}
.member-container> .member-heading> p:hover{
    /* box-shadow: 1px 1px 3px black; */
    background-color: gray;
    border-radius: 5px;
    color: white;
}
.member-container> .member-heading> img{
    width: 100px;
}
.member-container> .filterByYear{
    justify-content: center;
    display: flex;
    gap: 100px;
}
.member-container> .filterByYear> p{
    margin-top: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
}
.member-container> .filterByYear> p:hover{
    border-radius: 5px;
    background-color: grey;
    color: white;
    cursor: pointer;
}
.member-container> .member-inner-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.member-container> .member-inner-container > .result-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    color: black;
}
.member-container> .member-inner-container> .result-heading> p {
    margin-bottom: 0px;
    padding: 4px 10px;
}
.member-container> .member-inner-container> .member-box{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px 140px;
    flex-wrap: wrap;
}
.member-container> .member-inner-container> .member-box>img{
    width: 200px;
}
.member-container> .member-inner-container> .member-box> p{
    padding: 20px;
    font-size: 19px;
    width: 100%;
}
@media screen and (max-width: 450px) {
    .member-container> .filterByYear{
        gap: 50px;
    }
}